# Ignore all .log files
*.log

# Ignore a folder
data/
figures/
archive/
loocv_driver_model/
loocv_invasiveness_model/
ss/archive/
scripts/archive/

# Ignore a specific file
secrets.txt

# Ignore R-related cache files
.Rhistory
.RData
.Rproj.user/
.Rproj/
.DS_Store
.Rapp.history

# Ignore Python virtual environments
venv/

# Ignore node modules
node_modules/

# Ignore compiled code
*.o
*.pyc
